@page
@model Presentation.Pages.Category.Components.CreateUpdateForm.DefaultModel
@{
}

<div class="row mb-3">
    <div class="col-md-6">
        <label for="name" class="form-label">Name</label>
        <input id="name" asp-for="Name" placeholder="Enter name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label for="role" class="form-label">Parent</label>
        <select id="role" asp-for="ParentId" class="form-select">
            <option value="0" selected="@(ViewBag.ModalType == CategoryModalConst.Create.Value)">None</option>
            @foreach (var category in ViewBag.Categories) {
                <option value="@category.Category.Id" selected="@(ViewBag.ModalType == CategoryModalConst.Edit.Value && Model.ParentId == category.Category.Id)">@category.Category.Name</option>
            }
        </select>
    </div>
</div>

<div class="col-12">
    <label for="description" class="form-label">Description</label>
    <textarea id="description" asp-for="Description" placeholder="Enter description" class="form-control" rows="3"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>